html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 14px;
}

#head {
    position: absolute;
    z-index: 10;
    top: env(titlebar-area-y, 0);
    left: 0;
    bottom: env(titlebar-area-height, calc(100% - 36px));
    width: env(titlebar-area-width, 100%);
    height: env(titlebar-area-height, 36px);
    padding: 0;
    margin: 0;
    background-color: #002856;
    color: #E0DED9;
    line-height: env(titlebar-area-height, 36px);
    user-select: none;
    -webkit-app-region: drag;

    h1 {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0 9px;
        font-size: 19px;
        font-weight: normal;
        font-family: Palatino,"Palatino Linotype","Palatino LT STD","URW Palladio L","Book Antiqua",Constantia,serif;
        text-transform: uppercase;
        span {
            text-transform: capitalize;
        }
        a {
            text-decoration: none;
            color: inherit;
            -webkit-app-region: no-drag;
        }
    }

    #aboutButton {
        position: absolute;
        top: calc((env(titlebar-area-height, 36px) - 24px)/2);
        right: calc((env(titlebar-area-height, 36px) - 24px)/2);
        opacity: 0.75;
        width: 24px;
        height: 24px;
        transition: opacity .2s cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-app-region: no-drag;
        &:hover {
            cursor: pointer;
            opacity: 0.9;
        }
    }
}

#toolbar {
    position: absolute;
    z-index: 10;
    top: 36px;
    left: 0;
    width: 60%;
    box-sizing: border-box;
    height: 36px;
    padding: 0 0 0 20px;
    margin: 0;
    background-color: #F3F3F3;
    border-bottom: 1px solid #E0DED9;
    border-right: 1px solid #E0DED9;
    color: #000;
    white-space: nowrap;
    user-select: none;
    .select_wrapper {
        display: inline-block;
        vertical-align: middle;
        height: 24px;
        margin: 6px;
    }
    select {
        font-size: 12px;
        height: 24px;
        color: #000;
        padding: 0 23px 0 9px;
        box-sizing: border-box;
        border: 1px solid #AAA;
        border-radius: 2px;
        appearance: none;
        background-color: #DDD;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23002856%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
          linear-gradient(to bottom, #FFF 0%,#DDD 100%);
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
        &::-ms-expand {
            display: none;
        }
        &:hover {
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23002856%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
              linear-gradient(to bottom, #FFF 0%,#FFF 100%);
        }
        &:focus {
            outline: none;
        }
        & option {
            font-weight: normal;
        }
    }
    .sep {
        display: inline-block;
        vertical-align: middle;
        margin: 0 2.5px;
        padding: 0;
        width: 1px;
        height: 36px;
        background-color: #E0DED9;
        &:first-child {
            margin-left: 0;
        }
    }
    img {
        display: inline-block;
        vertical-align: middle;
        opacity: 0.9;
        width: 24px;
        height: 24px;
        padding: 6px;
        transition: opacity .2s ease, transform .2s ease;
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
            opacity: 1;
        }
    }
}
#go {
    position: absolute;
    display: block;
    right: 18px;
    top: 18px;
    box-sizing: border-box;
    height: 56px;
    width: 56px;
    margin: 0;
    padding: 0;
    background-color: #002856;
    background-image: url(prove.svg);
    background-position: center center;
    background-size: 32px;
    background-repeat: no-repeat;
    color: transparent;
    border-radius: 50%;
    border: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: background-color .2s ease, transform .2s ease;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
    &:focus {
        outline: none;
    }
}

#input, #output {
    position: absolute;
    top: 0;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    margin: 0;
    overflow-y: auto;
}

#input {
    width: 60%;
    left: 0;
    padding-top: 72px;
    border-right: 1px solid rgba(0,0,0,0.1);
}

#output {
    width: 40%;
    left: 60%;
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: #FCFCFC;
    h2 {
        margin: 18px 0 18px 36px;
        padding: 0;
        font-size: 16px;
        color: #666;
        user-select: none;
    }
    #sirilOutput {
        padding: 0 0 0 44px;
        font-family: monospace;
        white-space: pre;
        .placeholder {
            color: #666;
        }
        .error {
            color: #F66;
        }
    }
}

#overlay {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    transition: opacity .4s cubic-bezier(0.23, 1, 0.32, 1);
    &.hide {
        opacity: 0;
        pointer-events: none;
    }
    &.active {
        opacity: 0.8;
        pointer-events: auto;
    }
}

#about {
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-265px);
    width: 450px;
    padding: 25px 40px;
    background-color: #FFF;
    box-shadow: 0 8px 25px rgba(0,0,0,.4);
    font-size: 16px;
    transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
    hyphens: auto;
    &.hide {
        top: 0;
        opacity: 0;
        pointer-events: none;
    }
    &.active {
        top: 75px;
        opacity: 1;
        pointer-events: auto;
    }
    ol {
        counter-reset: list;
        li {
            list-style: none;
            &:before {
                content: "(" counter(list, lower-alpha) ") ";
                counter-increment: list;
            }
        }
    }
}

.ͼ1.cm-wrap.cm-focused, .ͼ1.cm-focused {
    outline: none !important;
}
